/*CSS OVERRIDES*/
nav {
	background-color: #7B1FA2;
}

ul {
	margin: 0;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  	position: relative;
  	left: 0;
  	visibility: visible;
}

.primary {
	background-color: #9C27B0 !important;
	color: #FFF;
}

a {
	color: #9C27B0;
}

a.material-icons.white-icon {
	color: #FFF;
}

.collection a.collection-item {
	color: #9C27B0;
}

.done {
	text-decoration: line-through;
}

.solution {
	margin: 0;
}

.problem,
.problem .card-panel {
	margin-bottom: 0;
}

.logo {
	width: 64px;
	height: 64px;
	background: url('../img/favicon.png');
	background-size: 64px 64px;
	float: left;
}

.horizontal-margin {
	margin: 0 10px;
}

@media (min-width : 1024px) {
	.container {
		width: 720px;
	}
}