<!DOCTYPE html>
<html>
	<head>
		<title>Create User</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/materialize.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<div class="container">
			<nav>
			    <div class="nav-wrapper">
			    	<!--<span class="logo">-->
			      	<a href="#" class="brand-logo center">Solver</a>
		 		</div>
			</nav>
			<form action="" method="post">
				<input type="text" name="username" placeholder="Username" style="margin-top: 10px">
				<input type="password"name="password" placeholder="Password">
				<input class="right" type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>